.shop .products-wrapper .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.shop .products-wrapper .pagination .pages {
    display: flex;
    gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    border-bottom: 3px solid #000;
    height: 25px;
    opacity: 0.5;
    width: 10px;
    text-align: center;
    cursor: pointer;
}

.shop .products-wrapper .pagination .pages .page.active {
    opacity: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    width: 22px;
    color: #000;
}
