.hero-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0 auto;
    gap: 150px;
    align-items: center;
}

.hero-section .title-block {
    max-width: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.hero-section .title-block::before {
    position: absolute;
    content: "";
    top: 29px;
    left: 0;
    background-image: url("../../assets/icons/points-top.svg");
    width: 322px;
    height: 322px;
    z-index: -2;
}

.hero-section .title-block .title {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.hero-section .title-block .title h1 {
    max-width: 200px;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 1;
    color: #000;
}

.hero-section .title-block .menu {
    display: flex;
    gap: 12px;
    border-left: 1.5px solid #000;
    padding: 0 12px;
}

.hero-section .title-block .menu .menu-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.hero-section .hero-image {
    max-width: 800px;
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin-right: 60px;
}

.hero-section .hero-image img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    height: 100%;
}

.hero-section .hero-line {
    position: absolute;
    background-image: url("../../assets/icons/line-long.svg");
    width: 100%;
    max-width: 850px;
    height: 2px;
    background-color: #000000;
    left: -82px;
    bottom: 113px;
    z-index: -2;
}

@media screen and (max-width: 1080px) {
    .hero-section .hero-line {
        display: none;
    }

    .hero-section .hero-image {
        margin-right: 0;
    }
    .menu {
        display: none;
    }

    .header .right-side {
        display: none;
    }

    .shop {
        margin-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .shop {
        margin-top: 50px;
    }
}

@media screen and (max-width: 540px) {
    .hero-section {
        flex-direction: column;
        gap: 15px;
    }
}
