@import "../../styles/variables";
@import "../../styles/mixins";

.cart {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 200px;

  @include responsive(lg) {
    margin-top: 100px;
  }

  .order-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;

    @include responsive(lg) {
      gap: 30px;
      flex-wrap: wrap;
    }

    @include responsive(sm) {
      .product-list .product {
        flex-wrap: wrap;
      }
    }
  }

  .promo-code-wrapper {
    max-width: 375px;
    width: 100%;
    @include flex-col;
    gap: 40px;

    .info {
      @include flex-col;
      gap: 20px;

      .title {
        font-family: $font-secondary;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.2;
        color: $color-black;
      }

      .description {
        font-family: $font-primary;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
      }
    }

    .promo-code {
      display: flex;
      align-items: center;
      gap: 30px;

      .button-wrapper {
        max-width: 54px;
        height: 50px;

        .button {
          padding: 17px 15px;
        }
      }
    }
  }
}
