.cart {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 200px;
}

.cart .order-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
}

.cart .promo-code-wrapper {
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart .promo-code-wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart .promo-code-wrapper .info .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
}

.cart .promo-code-wrapper .info .description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.cart .promo-code-wrapper .promo-code {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart .promo-code-wrapper .promo-code .button-wrapper {
  max-width: 54px;
  height: 50px;
}

.cart .promo-code-wrapper .promo-code .button-wrapper .button {
  padding: 17px 15px;
}

@media screen and (max-width: 980px) {
  .cart {
    margin-top: 100px;
  }

  .cart .order-wrapper {
    gap: 30px;
    flex-wrap: wrap;
  }

  .cart .promo-code-wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 540px) {
  .cart .order-wrapper .product-list .product {
    flex-wrap: wrap;
  }
}
