@import "../../styles/variables";
@import "../../styles/mixins";

.order {
  max-width: 360px;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    color: $color-black;
  }

  .order-price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .price-row {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(68, 68, 68, 10%);

      &.delimiter {
        border-bottom: 2px solid $color-black;
      }

      &.total {
        border-bottom: none;
      }

      .name {
        .additional {
          font-size: 14px;
          line-height: 1.7;
        }
      }

      .price {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1;
        display: flex;
        justify-content: end;
      }
    }
  }

  .button-wrapper {
    max-width: unset;
  }
}
