.sidebar {
    max-width: 244px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.shop .sidebar .sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.shop .sidebar .sidebar-item .sidebar-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    text-align: left;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding-bottom: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .custom-list {
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .price-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.colors
.color
.color-checkbox
+ .color-name {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.colors
.color
.color-checkbox
+ .color-name::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(238, 238, 238, 1);
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.colors
.color
.color-checkbox:checked
+ .color-name {
    color: rgba(255, 142, 142, 1);
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.colors
.color
.color-checkbox:checked
+ .color-name::before {
    background-image: url("../../assets/icons/check-pink.svg");
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-name:hover {
    color: rgba(255, 142, 142, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product {
    display: flex;
    gap: 15px;
    align-items: center;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.image {
    max-width: 75px;
    width: 100%;
    height: 85px;
    background-image: url("../../assets/images/no-photo.webp");
    background-size: cover;
    background-position: center;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.price {
    gap: 10px;
    align-items: center;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.price
.current-price {
    font-size: 14px;
    line-height: 1;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.price
.old-price {
    font-size: 12px;
    line-height: 1;
    text-decoration: line-through;
}