.sidebar {
    max-width: 244px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}



.shop .sidebar .sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.image {
    max-width: 75px;
    width: 100%;
    height: 85px;
    background-image: url("../../assets/images/no-photo.webp");
    background-size: cover;
    background-position: center;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.price {
    gap: 10px;
    align-items: center;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.price
.current-price {
    font-size: 14px;
    line-height: 1;
}

.shop
.sidebar
.sidebar-item
.sidebar-content
.reviewed-products
.product
.info
.price
.old-price {
    font-size: 12px;
    line-height: 1;
    text-decoration: line-through;
}