.shop {
  display: flex;
  gap: 51px;
  margin-top: 200px;
}

.shop .sidebar {
  max-width: 244px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.shop .sidebar .search {
  position: relative;
}

.shop .sidebar .search .search-row {
  padding: 0 25px 15px 0;
  opacity: 0.5;
}

.shop .sidebar .search .search-icon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.shop .sidebar .sidebar-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shop .sidebar .sidebar-item .sidebar-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  padding-bottom: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .custom-list {
  margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .price-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 0 0 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .colors
  .color
  .color-checkbox
  + .color-name {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .colors
  .color
  .color-checkbox
  + .color-name::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(238, 238, 238, 1);
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .colors
  .color
  .color-checkbox:checked
  + .color-name {
  color: rgba(255, 142, 142, 1);
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .colors
  .color
  .color-checkbox:checked
  + .color-name::before {
  background-image: url("../../assets/icons/check-pink.svg");
}

.shop .sidebar .sidebar-item .sidebar-content .colors .color .color-name:hover {
  color: rgba(255, 142, 142, 1);
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shop .sidebar .sidebar-item .sidebar-content .reviewed-products .product {
  display: flex;
  gap: 15px;
  align-items: center;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .reviewed-products
  .product
  .image {
  max-width: 75px;
  width: 100%;
  height: 85px;
  background-image: url("../../assets/images/no-photo.webp");
  background-size: cover;
  background-position: center;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .reviewed-products
  .product
  .info {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .reviewed-products
  .product
  .info
  .name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .reviewed-products
  .product
  .info
  .price {
  gap: 10px;
  align-items: center;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .reviewed-products
  .product
  .info
  .price
  .current-price {
  font-size: 14px;
  line-height: 1;
}

.shop
  .sidebar
  .sidebar-item
  .sidebar-content
  .reviewed-products
  .product
  .info
  .price
  .old-price {
  font-size: 12px;
  line-height: 1;
  text-decoration: line-through;
}

.shop .products-wrapper {
  max-width: 846px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shop .products-wrapper .sort-and-count {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.shop .products-wrapper .sort-and-count .bold {
  font-weight: 600;
  color: #000;
}

.shop .products-wrapper .sort-and-count .sort {
  max-width: 262px;
  width: 100%;
}

.shop .products-wrapper .sort-and-count .sort .input {
  color: #000;
  cursor: pointer;
}

.shop .products-wrapper .products {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 29px;
}

.shop .products-wrapper .products .product {
  max-width: 262px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shop .products-wrapper .products .product .photo {
  position: relative;
  height: 360px;
  background-size: cover;
  background-image: url("../../assets/images/no-photo.webp");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.shop .products-wrapper .products .product .photo .top-bar {
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 222px;
}

.shop .products-wrapper .products .product .photo .top-bar .labels {
  display: flex;
  gap: 15px;
  align-items: center;
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  background: #ff8e8e;
}

.shop .products-wrapper .products .product .photo .top-bar .labels .label.new {
  background: #95ccb5;
}

.shop .products-wrapper .products .product .info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.shop .products-wrapper .products .product .info .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.shop .products-wrapper .products .product .info .price {
  display: flex;
  gap: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  align-items: center;
}

.shop .products-wrapper .products .product .info .price .current-price {
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

.shop .products-wrapper .products .product .info .price .old-price {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  text-decoration: line-through;
}

.shop .products-wrapper .pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.shop .products-wrapper .pagination .pages {
  display: flex;
  gap: 20px;
}

.shop .products-wrapper .pagination .pages .page {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  border-bottom: 3px solid #000;
  height: 25px;
  opacity: 0.5;
  width: 10px;
  text-align: center;
  cursor: pointer;
}

.shop .products-wrapper .pagination .pages .page.active {
  opacity: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  width: 22px;
  color: #000;
}

.newsletter {
  max-width: 1680px;
  margin: 200px auto 0 auto;
  background-color: #f1f2f3;
  padding-bottom: 162px;
}
.newsletter .newsletter-wrapper {
  position: relative;
  max-width: 624px;
  width: 100%;
  background-color: #fff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.newsletter .newsletter-wrapper::after {
  position: absolute;
  content: "";
  top: -32px;
  right: 30px;
  background-image: url("../../assets/icons/points-bottom.svg");
  width: 130px;
  height: 130px;
}

.newsletter .newsletter-wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newsletter .newsletter-wrapper .info .title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  color: #000;
}

.newsletter .newsletter-wrapper .info .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.newsletter .newsletter-wrapper .mailing {
  display: flex;
  gap: 30px;
}

.newsletter .newsletter-wrapper .mailing .input {
}

.newsletter .newsletter-wrapper .mailing .button-wrapper {
  max-width: 140px;
}

.newsletter .newsletter-wrapper .mailing .button-wrapper .button {
  padding: 17px 30px;
}

@media screen and (max-width: 1180px) {
  .shop {
    margin-top: 100px;
  }

  .shop .products-wrapper .products {
    justify-content: space-evenly;
  }

  .newsletter {
    margin: 100px auto 0 auto;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 960px) {
  .shop .products-wrapper .sort-and-count {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .newsletter {
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .shop {
    margin-top: 70px;
  }
}

@media screen and (max-width: 600px) {
  .shop {
    flex-wrap: wrap;
  }

  .shop .sidebar {
    display: grid;
    grid-template-columns: max-content;
    gap: 20px;
  }

  .shop .products-wrapper .products {
    gap: 20px 30px;
  }

  .newsletter .newsletter-wrapper .mailing {
    flex-wrap: wrap;
  }

  .newsletter {
    padding-bottom: 0;
  }
}
